<h1>Bienvenido a la pagina de inicio </h1>
<br>
<h3> Y por llegar hasta aqui te has ganado un premio: Un poema </h3>
<p>Me tienes en tus manos 
y me lees lo mismo que un libro. 
Sabes lo que yo ignoro 
y me dices las cosas que no me digo. 
Me aprendo en ti más que en mi mismo. 
Eres como un milagro de todas horas, 
como un dolor sin sitio... 
¿Qué buenos ojos tienes cuando estás conmigo? 
¡Qué distante te haces y qué ausente 
cuando a la soledad te sacrifico! 
Dulce como tu nombre, como un higo, 
me esperas en tu amor hasta que arribo. 
Tú eres como mi casa, 
eres como mi muerte, amor mío.
 <br>
Jaime Sabines</p>

<form action="/logout" method="get">
<input type="submit" value="Log out">
